# Ignorar directorio vendor
/vendor/

# Ignorar archivo composer.lock
composer.lock

#ignorar config
config.php

#ignorar doc e img
/assets/doc/
/assets/img/company/
/assets/img/qr/
/assets/img/userapp/