.settings-form {
    width:50%;
}
input[type=color]{
    border-radius:0 !important;
}

/*-------------------------------------*/
/*-------------RESPONSIVE--------------*/
/*-------------------------------------*/

@media (max-width: 800px){
    .settings-form {
        width:100%;
    }
}